<?xml version='1.0' encoding='utf-8'?>
<widget id="com.mstanely.oradio" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Online Radio TAS-IX</name>
    <description>
        An application for listening to online radio TAS-IX
    </description>
    <author email="mstanley@gmail.com">
        Stanley Team
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
